.collection-grid__container {
  margin: 32px auto;
  padding: 0px 16px;
  max-width: var(--page-width);
}

@media screen and (min-width: 765px) {
  .collection-grid__container {
    padding: 0px 32px;
  }
}

.collection-grid__grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 765px) {
  .collection-grid__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .collection-grid__grid {
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
  }
}

.collection-grid__collection-link {
  text-decoration: none;
}
.collection-grid__collection-link:hover {
  text-decoration: underline;
  color: black;
}

.collection-grid__collection-name {
  font-size: 1.5rem;
  font-weight: 500;
  height: 32px;
  margin: 0px;
  margin-top: 12px;
  text-align: center;
}

.collection-grid__image-container {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  background-color: rgb(242, 242, 242);
  align-items: center;
  border-radius: 300px;
  overflow: hidden;
}

.collection-grid__image-container > img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
