.product-files__container {
  max-width: var(--page-width);
  margin: 0px auto;
  padding: 12px 12px;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .product-files__container {
    padding: 32px 32px;
  }
}

.product-files__buttons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: 24px;
}

@media screen and (min-width: 600px) {
  .product-files__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .product-files__buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
